#juego{
  display: none;
}
.datos input{
  display: block;
}
.image{
  display: flex;
justify-content: center;
align-items: center;
}
img{
  width: 100%;
  height: 67vh;
}
.alto{
  margin-top: 35px;
  background-color:#333333;

}
h3{
  color: white;
}
#mensaje{
  color: white;
}
